{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "filter-panel/macro.njk" import appFilterPanel %}

{% extends "layouts/page.njk" %}

{% set bodyClasses = "govuk-wide-template" %}

{%- set filterOptionsHtml %}
  {% include "dashboard/partials/filter-options.njk" %}
{% endset -%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ mojPageHeaderActions({
        heading: {
          html: '<span class="govuk-caption-l">' + (organisationName | e) + '</span>' + (heading | e),
          classes: 'govuk-heading-l'
        }
      }) }}

    {% if isEmployee %}
      <div class="moj-filter-layout">
          <form method="post" class="app-filter-form" novalidate>

          <input type="hidden" name="csrfToken" value="{{csrfToken}}" />

          {{ appFilterPanel({
            selectedFilters: {

              heading: {
                text: "Selected filters"
              },

              clearLink: {
                text: "Clear filters",
                href: clearHref
              },

              categories: filterCategories
            },
            optionsHtml: filterOptionsHtml
          }) }}

          </form>

        <div class="moj-filter-layout__content">

        <div class="moj-action-bar">
          <div class="moj-action-bar__filter"></div>
        </div>
    {% endif %}

    <div class="govuk-visually-hidden" aria-live="polite" role="status" id="app-project-results-status"></div>

    <div id="app-project-results">
      {% include "dashboard/partials/results.njk" %}
    </div>

    {% if isEmployee %}
      </div>
   </div>
   {% endif %}

    </div>
  </div>


{% endblock %}
