{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set rows = [] %}

{% if params.specialLegalPowers  %}

{% set _ = rows.push({
     key: { text:  "Special legal powers to do any of this project" },
     value: { text: (specialLegalPowers.details | default("Not provided")) if specialLegalPowers.agree === 'yes' else "No" }
   })
%}

{% endif %}

{% if rows | length %}

{{ govukSummaryList({
    card: {
      title: {
        text: "Other permissions"
    },
      actions: {
        items: [
          {
            href: "/marine-licence/special-legal-powers?from=check-your-answers",
            text: "Change",
            visuallyHiddenText: "special legal powers",
            classes: "govuk-link--no-visited-state"
          }
        ]
      } if not params.isReadOnly,
      attributes: {
        id: "other-permissions-card"
      }
    },
    rows: rows
  }) }}
  
{% endif %}