{% from "marine-licence/application-details-card/macro.njk" import appMarineLicenceApplicationDetailsCard %}
{% from "marine-licence/project-details-card/macro.njk" import appMarineLicenceProjectDetailsCard %}
{% from "marine-licence/site-location-card/macro.njk" import appMarineLicenceSiteLocationCard %}
{% from "marine-licence/site-details-card/macro.njk" import appMarineLicenceSiteDetailsCard %}
{% from "marine-licence/activity-details-card/macro.njk" import appMarineLicenceActivityDetailsCard %}
{% from "marine-licence/construction-drawing-card/macro.njk" import appMarineLicenceConstructionDrawingCard %}
{% from "marine-licence/water-framework-directive-card/macro.njk" import appMarineLicenceWaterFrameworkDirectiveCard %}
{% from "marine-licence/marine-plan-policies-card/macro.njk" import appMarineLicenceMarinePlanPoliciesCard %}
{% from "marine-licence/other-permissions-card/macro.njk" import appMarineLicenceOtherPermissionsCard %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends 'layouts/page.njk' %}

{% set rejectedReasonsOutput %}

  {% if rejectedReasons %}
    <ul class="govuk-list govuk-list--bullet">
    {% for reason in rejectedReasons %}
      <li>{{reason}}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if rejectedInformation %}
    <p class="govuk-body">{{ rejectedInformation }}</p>
  {% endif %}

{% endset %}

{% block pageTitle %}
  {{ projectName | striptags }} - {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">{{ pageCaption }}</span>
      <h1 class="govuk-heading-l" id="redaction-preview-heading">{{ projectName }}</h1>

      {{ govukInsetText({
        id: "redaction-preview-notice",
        html: "This is a preview of how the application will appear on the public register."
      }) }}

      {{ appMarineLicenceApplicationDetailsCard({
        statusTag: statusTag,
        isTransferred: isTransferred,
        isRejected: isRejected,
        applicationReference: applicationReference,
        rejectedDate: rejectedDate,
        rejectedReasons: rejectedReasonsOutput,
        transferredDate: transferredDate,
        withdrawnAt: withdrawnAt,
        submittedAt: submittedAt
      }) }}

      {{ appMarineLicenceProjectDetailsCard({
        projectName: projectName,
        projectBackground: projectBackground,
        isReadOnly: true,
        preferredDates: preferredDates,
        marineLicenceId: marineLicenceId,
        csrfToken: csrfToken
      }) }}
        
      {% if siteData.summaryData and siteData.summaryData.length %}
        {{ appMarineLicenceSiteLocationCard({
          coordinatesType: siteData.coordinatesType
        }) }}

        {% for site in siteData.summaryData %}
          {% set siteIndex0 = loop.index0 %}
          {{ appMarineLicenceSiteDetailsCard({
            site: site,
            loopIndex0: loop.index0,
            coordinatesType: siteData.coordinatesType,
            redactions: redactions,
            cspNonce: cspNonce,
            marineLicenceId: marineLicenceId,
            csrfToken: csrfToken,
            isReadOnly: true
          }) }}

          {% for activityDetails in site.activityDetails %}
            {{ appMarineLicenceActivityDetailsCard({
              activityDetails: activityDetails,
              siteNumber: site.siteNumber,
              index: loop.index,
              siteIndex0: siteIndex0,
              activityIndex0: loop.index0,
              isReadOnly: true,
              isApplicant: false,
              marineLicenceId: marineLicenceId,
              csrfToken: csrfToken
            }) }}

          {% endfor %}

          {{ appMarineLicenceConstructionDrawingCard({
            isReadOnly: true,
            siteNumber: site.siteNumber,
            activityDetails: site.activityDetails,
            constructionDrawings: site.constructionDrawings,
            redactions: redactions,
            marineLicenceId: marineLicenceId,
            csrfToken: csrfToken
          }) }}

        {% endfor %}
      {% endif %}
      

      {{ appMarineLicenceMarinePlanPoliciesCard({
        policies: marinePlanPolicies,
        isApplicant: false,
        isReadOnly: true
      }) }}

      {{ appMarineLicenceWaterFrameworkDirectiveCard({
        waterFrameworkDirectiveData: waterFrameworkDirectiveData,
        redactions: redactions,
        isReadOnly: true
      }) }}

      {{ appMarineLicenceOtherPermissionsCard({
        specialLegalPowers: specialLegalPowers,
        harbourAuthority: harbourAuthority,
        otherAuthorities: otherAuthorities,
        publicConsultation: publicConsultation,
        isReadOnly: true
      }) }}

    </div>
  </div>
{% endblock %}
