{% extends "layouts/coordinate-template.njk" %}

{% block coordinateFields %}

    <div class="govuk-inset-text">
        Enter easting and northing coordinates in meters (e.g., 530047, 180971)
    </div
{% endblock %} 