{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "incomplete-field/macro.njk" import appIncompleteField %}

{% block beforeContent %}
{{ super() }}
<nav>
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
</nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ pageCaption }}</span>
      <h1 class="govuk-heading-l">{{ heading }}</h1>

      <p class="govuk-body">You must publish one or more site notices to tell people about your application. This gives people who may be affected by, or interested in, the proposed activity the chance to comment.</p>

      <p class="govuk-body">Notices should be placed in locations chosen to best bring the proposed application to the attention of the public and interested parties. Consider locations such as those below.</p>

      {% if showMarineUserSection %}
    
        <h2 class="govuk-heading-m">Marine users</h2>

        <p class="govuk-body">This means people who use the water nearby, such as boat users, sailors, or fishing vessels. Prominent locations for this group include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>harbour noticeboards</li>
          <li>port noticeboards</li>
          <li>marinas</li>
          <li>yacht clubs</li>
          <li>fishing clubs</li>
        </ul>

      {% endif %}

      {% if showCommunityUserSection %}
    
        <h2 class="govuk-heading-m">Community users</h2>

        <p class="govuk-body">This means people nearby on land, such as residents and visitors. Prominent locations for this group include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>beach access points</li>
          <li>coastal path access points</li>
          <li>community noticeboards</li>
          <li>visitor information points</li>
        </ul>

      {% endif %}

      {% if showMultipleSitesSection %}
    
        <h2 class="govuk-heading-m">Multiple sites</h2>

        <p class="govuk-body">Check whether your chosen locations are enough to reach interested parties at each one.</p>

      {% endif %}

      <h2 class="govuk-heading-m">Evidence you must provide</h2>

      <p class="govuk-body">For each site notice you publish, you must provide:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>one close-up photograph clearly showing the notice</li>
        <li>one photograph showing the notice in its surrounding location, showing where it has been displayed</li>
        <li>the date the notice was first displayed</li>
      </ul>

      <h2 class="govuk-heading-m">When to display your notice</h2>

      <p class="govuk-body">You must display your notice within 7 days of receiving this notification, then provide your evidence as soon as possible.</p>

      <p class="govuk-body">Once displayed, your notice must remain in place for 21 days.</p>

      <h2 class="govuk-heading-m">How we manage consultation responses</h2>

      <p class="govuk-body">We will review any responses we receive and let you know:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a summary of the responses we received</li>
        <li>whether you need to take any action, and what this involves</li>
        <li>a deadline for responding, if action is needed</li>
        <li>what happens if you do not respond</li>
        <li>any measures you could take to address the issues raised</li>
      </ul>

      <p class="govuk-body">We aim to give you this in one update, so you do not need to be contacted more than once.</p>

      <h2 class="govuk-heading-m">Send us evidence</h2>

      {% set evidenceWarning %}
        You must complete all sections marked {{ appIncompleteField() }} before you can send your evidence.
      {% endset %}

      <p class="govuk-body">Add the details and photographs for each location where you displayed a site notice.</p>

      {{ govukInsetText({
        html: evidenceWarning
      }) }}

      </div>
      
      <div class="govuk-grid-column-full">

      {% for evidence in siteNoticeEvidence %}

        {% set evidenceIndex = loop.index  %}
        {% set evidenceRows = [] %}

        {% set _ = evidenceRows.push({
          key: { text: "Location name" },
          value: { html: appIncompleteField({text: evidence.locationName}) },
          actions: setSiteDetailsAction(evidence.locationName, evidenceLinks.locationName, null, "location name", { skipAction: true, evidenceIndex: evidenceIndex })
        }) %}
    
        {% set _ = evidenceRows.push({
          key: { text: "Date you displayed the notice" },
          value: { html: appIncompleteField({text: evidence.dateDisplayed}) }
        }) %}

        {% set _ = evidenceRows.push({
          key: { text: "Close-up photo of notice" },
          value: { html: appIncompleteField({text: evidence.closeUpPhoto}) }
        }) %}

        {% set _ = evidenceRows.push({
          key: { text: "Photo evidencing notice position and location" },
          value: { html: appIncompleteField({text: evidence.positionPhoto}) }
        }) %}

        {% set title %}Location {{loop.index}} evidence{% endset %}

        {{ govukSummaryList({
          card: {
            title: {
              text: title
            }
          },
          rows: evidenceRows
        }) }}

      {% endfor %}
    </div>
  </div>
{% endblock %}
