{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set rows = [] %}

{% set _ = rows.push({
     key: { text:  "Does your organisation have special legal powers?" if params.isApplicantView else "Organisation has special legal powers?" },
     value: { html: "Yes" if params.specialLegalPowers.agree === 'yes' else "No" }
   })
%}

{%  if params.specialLegalPowers.agree === 'yes' %}

{% set _ = rows.push({
  key: { text: "Details of special legal powers" if params.isApplicantView else "Details of organisation's special legal powers" },
  value: { html: params.specialLegalPowers.details }
}) %}

{%  endif  %}

{{ govukSummaryList({
    card: {
      title: {
        text: "Special legal powers" if params.isApplicantView else "Organisation's special legal powers"
    },
      actions: {
        items: [
          {
            href: "/marine-licence/special-legal-powers?from=check-your-answers",
            text: "Change",
            visuallyHiddenText: " special legal powers",
            classes: "govuk-link--no-visited-state"
          }
        ]
      } if not params.isReadOnly,
      attributes: {
        id: "special-legal-powers-card"
      }
    },
    rows: rows
  }) }}