{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
    card: {
      title: {
        text: "Site details"
      },
      attributes: {
        id: "site-details-card"
      }
    },
    rows: [
      {
        key: {
          text: "Method of providing site location"
        },
        value: {
          html: siteDetails.method
        }
      },
      {
        key: {
          text: "File type"
        },
        value: {
          html: siteDetails.fileType
        }
      },
      {
        key: {
          text: "File uploaded"
        },
        value: {
          html: siteDetails.filename
        }
      }
    ]
  }) }}
