{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "project-details-card/macro.njk" import appProjectDetailsCard %}
{% from "activity-dates-card/macro.njk" import appActivityDatesCard %}
{% from "activity-details-card/macro.njk" import appActivityDetailsCard %}
{% from "file-upload-summary/macro.njk" import appFileUploadSummary %}
{% from "point-circle-summary/macro.njk" import appPointCircleSummary %}
{% from "polygon-summary/macro.njk" import appPolygonSummary %}
{% from "public-register-card/macro.njk" import appPublicRegisterCard %}

{% block pageTitle %}
  {{ pageTitle }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <nav>
    {{ govukBackLink({
          text: "Back",
          href: backLink
      }) }}
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    {% if pageCaption %}
      <span class="govuk-caption-l">{{ pageCaption }}</span>
    {% endif %}

    <h1 class="govuk-heading-l" id="view-details-heading">{{ pageTitle }}</h1>
    
    {{ appProjectDetailsCard({
      projectName: projectName,
      isReadOnly: isReadOnly
    }) }}
    {{ appActivityDatesCard({
      activityDates: activityDates,
      isReadOnly: isReadOnly
    }) }}
    {{ appActivityDetailsCard({
      activityDescription: activityDescription,
      isReadOnly: isReadOnly
    }) }}
    {% if siteDetails.isFileUpload %}
      {{ appFileUploadSummary({
        siteDetails: siteDetails,
        isReadOnly: isReadOnly
      }) }}
    {% elif siteDetails.isPolygonSite %}
      {{ appPolygonSummary({
        siteDetails: siteDetails,
        isReadOnly: isReadOnly
      }) }}
    {% else %}
      {{ appPointCircleSummary({
        siteDetails: siteDetails,
        isReadOnly: isReadOnly
      }) }}
    {% endif %}
    {{ appPublicRegisterCard({
      publicRegister: publicRegister,
      isReadOnly: isReadOnly
    }) }}
    
    </div>
  </div>
{% endblock %}
