@use 'govuk-frontend' as *;

@import 'accessible-autocomplete.min.css';

[data-module='app-accessible-autocomplete'] {
  .govuk-select {
    width: 100%;
  }

  // When JS is available, hide native chevron to avoid visible swapping when component loads
  @media (scripting: enabled) {
    .govuk-select {
      appearance: none;
    }
  }
}

.autocomplete__wrapper * {
  @include govuk-typography-common($font-family: $govuk-font-family);
}

.autocomplete__wrapper {
  position: relative;

  .autocomplete__input {
    padding-right: 40px;
  }

  .autocomplete__menu {
    .autocomplete__option {
      padding: 10px 15px;
    }
  }

  .autocomplete__dropdown-arrow-down {
    z-index: 1;
    right: 15px;
    top: 16px;
    width: 16px;
    height: 8px;
  }
}
