@import 'accessible-autocomplete.min.css';

.autocomplete__wrapper {
  position: relative;

  .autocomplete__input {
    font-family: 'GDS Transport', arial, sans-serif;
    font-size: 19px;
  }

  .autocomplete__menu {
    font-family: 'GDS Transport', arial, sans-serif;

    .autocomplete__option {
      font-size: 19px;
      line-height: 1.25;
      padding: 10px 15px;
    }
  }

  .autocomplete__hint {
    font-family: 'GDS Transport', arial, sans-serif;
    font-size: 19px;
    line-height: 1.25;
  }

  .autocomplete__dropdown-arrow-down {
    z-index: 1;
  }
}
