{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% if params.isInternalUserView %}
  {% set csvAnchor %}
    <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="/marine-licence/location-csv-download/{{ params.marineLicenceId }}" >Download coordinates as a csv file</a>
  {% endset %}
{% endif %}

{% set rows = [] %}


{% set rows = (rows.push({
  key: {
    text: "Project name"
  },
  value: {
    text: params.projectName
  },
  actions: {
    items: [
      {
        href: "/marine-licence/project-name?from=check-your-answers",
        text: "Change",
        visuallyHiddenText: "project name",
        classes: "govuk-link--no-visited-state"
      }
    ]
  } if not params.isReadOnly
},{
  key: {
    text: "Project background"
  },
  value: {
    text: params.projectBackground
  },
  actions: {
    items: [
      {
        href: "/marine-licence/project-background?from=check-your-answers",
        text: "Change",
        visuallyHiddenText: "project background",
        classes: "govuk-link--no-visited-state"
      }
    ]
  } if not params.isReadOnly
},{
  key: {
    text: "Preferred start and end dates of the licence"
  },
  value: {
    text: params.preferredDates
  },
  actions: {
    items: [
      {
        href: "/marine-licence/start-and-end-dates?from=check-your-answers",
        text: "Change",
        visuallyHiddenText: "preferred dates",
        classes: "govuk-link--no-visited-state"
      }
    ]
  } if not params.isReadOnly
}, {
  key: {
    text: "Location coordinates"
  },
  value: {
    html: csvAnchor
  }
} if params.isInternalUserView), rows) %}


{{ govukSummaryList({
  card: {
    title: {
      text: "Project details"
    },
    attributes: {
      id: "project-details-card"
    }
  },
  rows: rows
}) }}
