<p class="govuk-body">If you need to provide a WFD assessment, you can use the following template. It's called a scoping document.</p>

<p class="govuk-body"><a href="https://assets.publishing.service.gov.uk/media/6ab4e3b9fceb6fb3a650110e/wfd_scoping_template__1_.odt" class="govuk-link">Download the WFD assessment scoping document (ODT, 24KB)</a>.</p>

<p class="govuk-body"><a href="https://www.gov.uk/guidance/water-framework-directive-assessment-estuarine-and-coastal-waters" class="govuk-link" rel="noreferrer noopener" target="_blank">Read the Environment Agency's guidance on the Water Framework Directive assessments for more information (opens in new tab)</a>.</p>
