{% extends 'layouts/page.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block beforeContent %}
{{ super() }}
<nav>
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
</nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ projectName }}</span>
      <span class="govuk-caption-l">Location {{ locationIndex }}</span>
      <h1 class="govuk-heading-l">{{ heading }}</h1>

      {% if errorSummary  %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      <form method="POST" novalidate>
        <input type="hidden" name="csrfToken" value="{{ csrfToken }}" />

        {{ govukDateInput({
          id: "date-displayed",
          namePrefix: "date-displayed",
          hint: {
            text: "For example, 15 3 2026"
          },
          errorMessage: errors["date-displayed-day"] if errors,
          items: [
            {
              id: "date-displayed-day",
              name: "day",
              classes: "govuk-input--width-2" + (" govuk-input--error" if errors),
              value: payload['date-displayed-day']
            },
            {
              id: "date-displayed-month",
              name: "month",
              classes: "govuk-input--width-2" + (" govuk-input--error" if errors),
              value: payload['date-displayed-month']
            },
            {
              id: "date-displayed-year",
              name: "year",
              classes: "govuk-input--width-4" + (" govuk-input--error" if errors),
              value: payload['date-displayed-year']
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue",
            preventDoubleClick: true
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
